
::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

.swiper_container {
 
  position: relative;
}

.swiper-slide {
    width: 320px;
    height: 180px;
  position: relative;
}

@media (max-width: 500px) {
  .swiper-slide {
    width: 240px !important;
    height: 135px !important;
  }
  .swiper-slide img {

    width: 240px !important;
    height: 135px !important;
  }
}

.swiper-slide img {
  width: 320px;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
}


.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}
